/* QuizDetail.css */
.quiz-container-page {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.quiz-modal-logo {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}


.quiz-logo {
    max-width: 150px;
    margin: 0 auto 20px;
}

.quiz-timer {
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.quiz-countdown {
    font-size: 24px;
    font-weight: bold;
}

#rolette{
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    background-image: url("../../public/roda.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.quiz-content {
    margin-bottom: 30px;
}

.quiz-rating {
    font-size: 24px;
    font-weight: bold;
    color: #ffa500;
    margin: 10px 0;
}

.quiz-question-section {
    background-color: #f5f5f5;
    padding: 15px;
    border-radius: 8px;
}

.quiz-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.quiz-option-button {
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #4caf50;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.quiz-option-button:hover {
    background-color: #45a049;
}


.modal-overlay {
    background-color: rgba(0, 0, 0, 0.75);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

.loader-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
